//- SOCIAL
mixin social(iconName, link, iconWidth, iconHeight, iconBefore, iconAfter)
	a.social&attributes(attributes)(style="--before: " + iconBefore + "; " + "--after: " + iconAfter)(href=link)
		span.visually-hidden!= iconName
		svg(width=iconWidth, height=iconHeight, aria-hidden="true")
			use(xlink:href="images/sprite.svg#" + iconName)

//- USER LINK
mixin userLink(title, link, iconName, iconWidth, iconHeight, count)
	a.user-link&attributes(attributes)(href=link)
		span.visually-hidden!= title
		svg(width=iconWidth, height=iconHeight, aria-hidden="true")
			use(xlink:href="images/sprite.svg#" + iconName)
		span!= count

//- STEPPER
mixin stepper()
	div.stepper&attributes(attributes)
		label.stepper__field
			input.stepper__input(type="text", value="1", maxlength="3")
		div.stepper__buttons
			button.stepper__button.stepper__button--minus(type="button", aria-label="Увеличить количество")
				svg(width="14", height="14"): use(xlink:href="images/sprite.svg#icon-minus")
			button.stepper__button.stepper__button--plus(type="button", aria-label="Уменьшить количество")
				svg(width="14", height="14"): use(xlink:href="images/sprite.svg#icon-plus")

//- SIMPLE CARD
-
	const simpleCardItems = [
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
	];

mixin simpleCard(title)
	section.simple-card&attributes(attributes)
		div.simple-card__container.container
			h2.simple-card__title!= title
			div.simple-card__buttons
				button.simple-card__swiper-button.simple-card__swiper-button--prev(type="button")
					span.visually-hidden Предыдущий слайд
					svg(width="10", height="16", aria-hidden="true")
						use(xlink:href="images/sprite.svg#preview-prev")
				button.simple-card__swiper-button.simple-card__swiper-button--next(type="button")
					span.visually-hidden Следующий слайд
					svg(width="10", height="16", aria-hidden="true")
						use(xlink:href="images/sprite.svg#preview-next")
			div.simple-card__swiper.swiper
				ul.simple-card__swiper-wrapper.swiper-wrapper
					each item in simpleCardItems
						li.simple-card__swiper-slide.swiper-slide.card.card--slider
							div.card__tags-wrapper
								div.card__tags
									if item.tags
										each tag in item.tags
											span!= tag
							// Стоковое состояние
							div.card__stock.stock-card
								span.stock-card__article Артикул #{item.article}
								h2.stock-card__title: a(href=favorites)!= item.title
								span.stock-card__type!= item.type
								div.stock-card__image.stock-card__image--simple
									img(src=item.image.src, alt=item.image.alt)
			div.simple-card__swiper-dots

//- FACTORIES LIST
-
	const factoriesListItems = [
		{title: 'Aida', factory: 'Mobilpiu', image: {src: 'images/factories-list01.jpg', alt: 'Фабрика'}},
		{title: 'Emozioni', factory: 'Maestri Artigiani', image: {src: 'images/factories-list02.jpg', alt: 'Фабрика'}},
		{title: 'The sofa collection', factory: 'Ditre Italia', image: {src: 'images/factories-list03.jpg', alt: 'Фабрика'}},
		{title: 'Elite collection', factory: 'Cubo Rosso', image: {src: 'images/factories-list04.jpg', alt: 'Фабрика'}},
		{title: 'Tresor', factory: 'Fasolin', image: {src: 'images/factories-list05.jpg', alt: 'Фабрика'}},
		{title: 'Slash', factory: 'Bamax', image: {src: 'images/factories-list06.jpg', alt: 'Фабрика'}},
		{title: 'Flor', factory: 'Fasolin', image: {src: 'images/factories-list07.jpg', alt: 'Фабрика'}},
		{title: 'The relax collection', factory: 'Ditre Italia', image: {src: 'images/factories-list08.jpg', alt: 'Фабрика'}},
	];

mixin factoriesList()
	ul.factories-list&attributes(attributes)
		each item in factoriesListItems
			li.factories-list__item
				h3.factories-list__title!= item.title
				span.factories-list__factory Фабрика: <span>#{item.factory}</span>
				div.factories-list__image
					img(src=item.image.src, alt=item.image.alt)
				button.factories-list__button(type="button")
					span.visually-hidden Добавить в избранное
					svg(width="15", height="15", aria-hidden="true")
						use(xlink:href="images/sprite.svg#bookmark")

//- PAGINATION
mixin pagination()
	div.pagination&attributes(attributes)
		a.pagination__button(href=favorites) ← <span>Предыдущая страница</span>
		div.pagination__pages
			a.pagination__page(href=favorites) 1
			a.pagination__page.pagination__page--current 2
			a.pagination__page(href=favorites) 3
			a.pagination__page(href=favorites) 4
			a.pagination__page.pagination__page--none ...
			a.pagination__page(href=favorites) 10
		a.pagination__button(href=favorites) <span>Следующая страница</span> →

//- CHOICE CHECK
mixin choiceCheck(title, name, array)
	form.choice-check
		button.choice-check__button(type="button", aria-expanded="false")
			span!= title
			svg(width="10", height="22", aria-hidden="true")
				use(xlink:href="images/sprite.svg#choice-arrows")
		div.choice-check__list
			each check, index in array
				div.choice-check__item
					input.visually-hidden(type="checkbox", id=name + index, name="factory", value=check)
					label.choice-check__factory(for=name + index)!= check
		span.choice-check__default!= title

//- CHOICE RADIO
mixin choiceRadio(title, name, array)
	form.choice-radio&attributes(attributes)
		button.choice-radio__button(type="button", aria-expanded="false")
			span!= title
			svg(width="10", height="22", aria-hidden="true")
				use(xlink:href="images/sprite.svg#choice-arrows")
		div.choice-radio__list
			each radio, index in array
				div.choice-radio__item
					input.visually-hidden(type="radio", id=name + index, name="size")
					label.choice-radio__factory(for=name + index)!= radio

//- CHOICE POPUP
mixin choicePopup()
	div.choice-popup&attributes(attributes)
		p.choice-popup__text Выбрано 320 товаров
		button.choice-popup__button(type="button") Показать —
		button.choice-popup__close(type="button")
			span.visually-hidden Закрыть
			svg(width="10", height="10", aria-hidden="true")
				use(xlink:href="images/sprite.svg#close")

-
	const simpleItems = [
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
	];

	const simpleRadioItems = [
		'160 × 200',
		'180 × 220',
		'200 × 240',
	];

mixin productList(title)
	section.product-list(id="sett")
		div.product-list__container.container
			h2.product-list__title!= title
			div.section__list-wrapper
				div.section__container
					ul.section__list
						each item in simpleItems
							// Товар: набор
							li.section__item.card.card--simple
								div.card__tags-wrapper
									div.card__tags
										if item.tags
											each tag in item.tags
												span!= tag
								// Стоковое состояние
								div.card__stock.stock-card
									p.stock-card__article Артикул: 23498549
									h2.stock-card__title!= item.title
									span.stock-card__cost.stock-card__cost от #{item.costRu}
									div.stock-card__image.stock-card__image--simple
										img(src=item.image.src, alt=item.image.alt)
										button.stock-card__favorite(type="button")
											span.visually-hidden Добавить в избранное
											svg(width="16", height="14", aria-hidden="true")
												use(xlink:href="images/sprite.svg#favorite")
								// Активное состояние
								div.card__active.active-card
									a.active-card__link(href=item.href)
										span.visually-hidden Перейти на страницу с товаром
									div.card__all-wrapper
										div.card__tags
											if item.tags
												each tag in item.tags
													span!= tag
										button.card__favorite(type="button")
											span.visually-hidden Добавить в избранное
											svg(width="16", height="14", aria-hidden="true")
												use(xlink:href="images/sprite.svg#favorite")
									div.active-card__swiper-wrapper
										div.active-card__swiper.swiper
											ul.active-card__swiper-list.swiper-wrapper
												li.active-card__swiper-item.swiper-slide.stock-card__image--simple
													img(src=item.image.src, alt=item.image.alt)
												li.active-card__swiper-item.swiper-slide
													img(src=item.image.src, alt=item.image.alt)
										div.active-card__swiper-dots
									div.active-card__content-wrapper
										p.active-card__article Артикул: 23498549
										p.active-card__title!= item.title
										p.active-card__element
											span Фабрика:
											a(href=index)!= item.factory
										p.active-card__element
											span Модель:
											a(href=index)!= item.collection
										p.active-card__size Ширина: 173 см, Высота: 110 см, Глубина: 212 см
										div.active-card__wrapper
											p.active-card__cost Цена от #{item.costRu}
											p.active-card__status В наличии
										div.active-card__choice-wrapper
											+choiceRadio('160 × 200', 'size', simpleRadioItems)
											button.active-card__button(type="button") Добавить в корзину —
										a.active-card__preview-open Быстрый просмотр
					+pagination.section__pagination
