-
	const favoritesWatchedItems = [
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
		{title: 'Кресло Alchemy', href: index, type: 'Кресло', article: '23498549', tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-simple.jpg', alt: 'Набор'}},
	];

section.favorites-watched
	div.favorites-watched__container.container
		h2.favorites-watched__title Недавно просмотренные
		div.favorites-watched__buttons
			button.favorites-watched__swiper-button.favorites-watched__swiper-button--prev(type="button")
				span.visually-hidden Предыдущий слайд
				svg(width="10", height="16", aria-hidden="true")
					use(xlink:href="images/sprite.svg#preview-prev")
			button.favorites-watched__swiper-button.favorites-watched__swiper-button--next(type="button")
				span.visually-hidden Следующий слайд
				svg(width="10", height="16", aria-hidden="true")
					use(xlink:href="images/sprite.svg#preview-next")
		div.favorites-watched__swiper.swiper
			ul.favorites-watched__swiper-wrapper.swiper-wrapper
				each item in favoritesWatchedItems
					li.favorites-watched__swiper-slide.swiper-slide.card.card--slider
						div.card__tags-wrapper
							div.card__tags
								if item.tags
									each tag in item.tags
										span!= tag
						// Стоковое состояние
						div.card__stock.stock-card
							span.stock-card__article Артикул #{item.article}
							h2.stock-card__title: a(href=favorites)!= item.title
							span.stock-card__type!= item.type
							div.stock-card__image.stock-card__image--simple
								img(src=item.image.src, alt=item.image.alt)
		div.favorites-watched__swiper-dots
