-
	const settModal = ['images/preview02.jpg', 'images/preview01.jpg', 'images/preview02.jpg'];
	const simpleModal = ['images/preview01.jpg', 'images/preview02.jpg', 'images/preview01.jpg'];
	const simRadioItems = ['160 × 200', '180 × 220', '200 × 240'];

	const modalProductImages = [
		'images/product-image01.jpg',
		'images/product-image02.jpg',
		'images/product-image01.jpg',
		'images/product-image02.jpg',
		'images/product-image01.jpg',
		'images/product-image02.jpg',
		'images/product-image01.jpg',
		'images/product-image02.jpg',
	];

div.modal
	// Удаление из корзины
	div.cart-modal
		button.cart-modal__close.modal__close(type="button")
			span.visually-hidden Закрыть окно
			svg(width="10", height="10", aria-hidden="true")
				use(xlink:href="images/sprite.svg#close")
		div.cart-modal__wrapper
			p.cart-modal__title Вы уверены, что хотите удалить этот товар из корзины?
			div.cart-modal__buttons
				button.cart-modal__button(type="button") Да
				button.cart-modal__button(type="button") Нет
	// Оформление заявки
	div.request-modal
		div.request-modal__container.container
			button.request-modal__close.modal__close(type="button")
				span.visually-hidden Закрыть окно
				svg(width="10", height="10", aria-hidden="true")
					use(xlink:href="images/sprite.svg#close")
			p.request-modal__title.modal__title Оформление заявки
			form.request-modal__form.form
				div.request-modal__wrapper.form__wrapper
					input.request-modal__input.form__input._req._name(type="text", id="cart-name", name="name", placeholder="Введите ваше имя")
					label.visually-hidden(for="cart-name") Введите ваше имя
					span.request-modal__error.form__error
				div.request-modal__wrapper.request-modal__wrapper--left.form__wrapper
					input.request-modal__input.form__input._req._tel(type="tel", id="cart-tel", name="phone", placeholder="Телефон")
					label.visually-hidden(for="cart-tel") Ваш номер телефона
					span.request-modal__error.form__error
				div.request-modal__wrapper.request-modal__wrapper--right.form__wrapper
					input.request-modal__input.form__input._req._email(type="email", id="cart-email", name="email", placeholder="Email")
					label.visually-hidden(for="cart-email") Ваш email
					span.request-modal__error.form__error
				div.request-modal__wrapper.form__wrapper
					textarea.request-modal__input.request-modal__input--textarea.form__input(id="cart-comment", name="comment", placeholder="Комментарий")
					label.visually-hidden(for="cart-comment") Оставьте комментарий
				button.request-modal__submit(type="submit") Оставить заявку —
				div.request-modal__consent
					input.request-modal__checkbox.visually-hidden(type="checkbox", id="cart-check", name="consent", checked, required)
					label.request-modal__label.form__label(for="cart-check") Соглашаюсь с обработкой персональных данных в соответствии с&nbsp;
						a(href=policy) политикой конфиденциальности
			a.request-modal__link(href=shippingAndPayment) Доставка и оплата
	// Дизайн интерьера
	div.design-modal
		div.design-modal__container.container
			button.design-modal__close.modal__close(type="button")
				span.visually-hidden Закрыть окно
				svg(width="10", height="10", aria-hidden="true")
					use(xlink:href="images/sprite.svg#close")
			p.design-modal__title.modal__title Дизайн интерьера
			form.design-modal__form.form
				div.design-modal__wrapper.form__wrapper
					input.design-modal__input.form__input._req._name(type="text", id="design-name", name="name", placeholder="Введите ваше имя")
					label.visually-hidden(for="design-name") Введите ваше имя
					span.design-modal__error.form__error
				div.design-modal__wrapper.design-modal__wrapper--left.form__wrapper
					input.design-modal__input.form__input._req._tel(type="tel", id="design-tel", name="phone", placeholder="Телефон")
					label.visually-hidden(for="design-tel") Ваш номер телефона
					span.design-modal__error.form__error
				div.design-modal__wrapper.design-modal__wrapper--right.form__wrapper
					input.design-modal__input.form__input._req._email(type="email", id="design-email", name="email", placeholder="Email")
					label.visually-hidden(for="design-email") Ваш email
					span.design-modal__error.form__error
				div.design-modal__wrapper.form__wrapper
					textarea.design-modal__input.design-modal__input--textarea.form__input(id="design-comment", name="comment", placeholder="Комментарий")
					label.visually-hidden(for="design-comment") Оставьте комментарий
				div.design-modal__wrapper.form__wrapper
					div.design-modal__file-wrap
						input.design-modal__file-input(type="file", id="design-file14", name="file14")
						input.design-modal__file-input(type="file", id="design-file13", name="file13")
						input.design-modal__file-input(type="file", id="design-file12", name="file12")
						input.design-modal__file-input(type="file", id="design-file11", name="file11")
						input.design-modal__file-input(type="file", id="design-file10", name="file10")
						input.design-modal__file-input(type="file", id="design-file9", name="file9")
						input.design-modal__file-input(type="file", id="design-file8", name="file8")
						input.design-modal__file-input(type="file", id="design-file7", name="file7")
						input.design-modal__file-input(type="file", id="design-file6", name="file6")
						input.design-modal__file-input(type="file", id="design-file5", name="file5")
						input.design-modal__file-input(type="file", id="design-file4", name="file4")
						input.design-modal__file-input(type="file", id="design-file3", name="file3")
						input.design-modal__file-input(type="file", id="design-file2", name="file2")
						input.design-modal__file-input(type="file", id="design-file1", name="file1")
						input.design-modal__file-input(type="file", id="design-file0", name="file0")
						a.design-modal__file: span Прикрепить фото планировки
					div.design-modal__files
				button.design-modal__submit(type="submit") Оставить заявку —
				div.design-modal__consent
					input.design-modal__checkbox.visually-hidden(type="checkbox", id="design-check", name="consent", checked, required)
					label.design-modal__label.form__label(for="design-check") Соглашаюсь с обработкой персональных данных в соответствии с&nbsp;
						a(href=policy) политикой конфиденциальности
	// Успешная отправка
	div.success-modal
		div.success-modal__container.container
			button.success-modal__close.modal__close(type="button")
				span.visually-hidden Закрыть окно
				svg(width="10", height="10", aria-hidden="true")
					use(xlink:href="images/sprite.svg#close")
			p.success-modal__title.modal__title Спасибо!
			p.success-modal__text Наш менеджер с Вами свяжется для уточнения деталей заказа
	// Быстрый просмотр (набор)
	div.sett-modal
		div.sett-modal__container.container
			div.sett-modal__info-wrap
				button.sett-modal__close.modal__close(type="button")
					span.visually-hidden Закрыть окно
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
				p.sett-modal__title Спальня Charisma
				div.sett-modal__content-wrapper
					p.sett-modal__element
						span Фабрика
						a(href="index.html") De Majo
					p.sett-modal__element.sett-modal__element--model
						span Модель
						a(href="index.html") Charisma
					p.sett-modal__element
						span Стиль
						a Арт-деко
					p.sett-modal__element
						span Материал
						a МДФ, кожа
				div.sett-modal__center-wrapper
					span.sett-modal__cost Цена от 324 000 ₽
					span.sett-modal__status В наличии
				button.sett-modal__get(type="button") Оставить заявку —
				div.sett-modal__links
					a.sett-modal__link.sett-modal__link--list(href="#") Список товаров
					a.sett-modal__link.sett-modal__link--download(href="#") Скачать каталог
			div.sett-modal__swiper-wrap
				div.sett-modal__all-wrap
					div.sett-modal__tags
						span New
						span Sale
					button.sett-modal__favorite(type="button")
						span.visually-hidden Добавить в избранное
						svg(width="16", height="14", aria-hidden="true")
							use(xlink:href="images/sprite.svg#favorite")
				div.sett-modal__swiper.swiper
					ul.sett-modal__swiper-wrapper.swiper-wrapper
						each slide in settModal
							li.sett-modal__swiper-slide.swiper-slide
								img(src=slide, alt="Фото")
				div.sett-modal__buttons
					button.sett-modal__button.sett-modal__button--prev(type="button")
						span.visually-hidden Предыдущий слайд
						svg(width="7", height="10", aria-hidden="true")
							use(xlink:href="images/sprite.svg#product-arrow-prev")
					button.sett-modal__button.sett-modal__button--next(type="button")
						span.visually-hidden Следующий слайд
						svg(width="7", height="10", aria-hidden="true")
							use(xlink:href="images/sprite.svg#product-arrow-next")
				div.sett-modal__dots
	// Быстрый просмотр (простая)
	div.simple-modal
		div.simple-modal__container.container
			div.simple-modal__info-wrap
				button.simple-modal__close.modal__close(type="button")
					span.visually-hidden Закрыть окно
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
				p.simple-modal__article Артикул: 23498549
				p.simple-modal__title Кровать Alchemy New Silver
				div.simple-modal__content-wrapper
					p.simple-modal__element
						span Фабрика
						a(href="index.html") De Majo
					p.simple-modal__element.simple-modal__element--model
						span Модель
						a(href="index.html") Charisma
					p.simple-modal__element
						span Стиль
						a Арт-деко
					p.simple-modal__element
						span Материал
						a МДФ, кожа
					p.simple-modal__element
						span Цвет
						a
							img(src="images/cart-color01.svg", alt="")
							| Серый
				div.simple-modal__size-wrapper
					p.simple-modal__size
						span Ширина
						a 173 см
					p.simple-modal__size
						span Высота
						a 110 см
					p.simple-modal__size
						span Глубина
						a 212 см
				div.simple-modal__center-wrapper
					span.simple-modal__cost Цена от 324 000 ₽
					span.simple-modal__status В наличии
				div.simple-modal__bottom-wrap
					+choiceRadio('160 × 200', 'size', simRadioItems).choice-radio--light.simple-modal__choice
					button.simple-modal__add-to-cart.simple-modal__add-to-cart--active(type="button") Добавить в корзину —
				a.simple-modal__link(href="#") Узнать больше о товаре →
			div.simple-modal__swiper-wrap
				div.simple-modal__all-wrap
					div.simple-modal__tags
						span New
						span Sale
					button.simple-modal__favorite(type="button")
						span.visually-hidden Добавить в избранное
						svg(width="16", height="14", aria-hidden="true")
							use(xlink:href="images/sprite.svg#favorite")
				div.simple-modal__swiper.swiper
					ul.sett-modal__swiper-wrapper.swiper-wrapper
						each slide in settModal
							li.simple-modal__swiper-slide.swiper-slide
								img(src=slide, alt="Фото")
				div.simple-modal__buttons
					button.simple-modal__button.simple-modal__button--prev(type="button")
						span.visually-hidden Предыдущий слайд
						svg(width="7", height="10", aria-hidden="true")
							use(xlink:href="images/sprite.svg#product-arrow-prev")
					button.simple-modal__button.simple-modal__button--next(type="button")
						span.visually-hidden Следующий слайд
						svg(width="7", height="10", aria-hidden="true")
							use(xlink:href="images/sprite.svg#product-arrow-next")
				div.simple-modal__dots
	if loopModal
		// Только на страницах карточки товара (простая или набор)
		div.loop-modal
			div.loop-modal__container
				button.loop-modal__close.modal__close(type="button")
					span.visually-hidden Закрыть окно
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
				div.loop-modal__swiper-wrap
					div.loop-modal__buttons
						button.loop-modal__swiper-button.loop-modal__swiper-button--prev(type="button")
							span.visually-hidden Предыдущий слайд
							svg(width="10", height="20", aria-hidden="true")
								use(xlink:href="images/sprite.svg#loop-prev")
						button.loop-modal__swiper-button.loop-modal__swiper-button--next(type="button")
							span.visually-hidden Следующий слайд
							svg(width="10", height="20", aria-hidden="true")
								use(xlink:href="images/sprite.svg#loop-next")
					div.loop-modal__swiper.swiper
						ul.loop-modal__swiper-wrapper.swiper-wrapper
							each slide in modalProductImages
								li.loop-modal__swiper-slide.swiper-slide
									img(src=slide, alt="Фото")
					div.loop-modal__dots
	// Оформление заявки (набор)
	if settFormModal
		div.sett-form-modal
			div.sett-form-modal__container
				button.sett-form-modal__close.modal__close(type="button")
					span.visually-hidden Закрыть окно
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
				div.sett-form-modal__swiper-wrap
					div.sett-form-modal__all-wrap
						a.sett-form-modal__link(href="index.html") Фабрика De Majo
						p.sett-form-modal__title Спальня Alchemy New Silver
						button.sett-form-modal__favorite(type="button")
							span.visually-hidden Добавить в избранное
							svg(width="16", height="14", aria-hidden="true")
								use(xlink:href="images/sprite.svg#favorite")
					div.sett-form-modal__swiper.swiper
						ul.sett-form-modal__swiper-wrapper.swiper-wrapper
							each slide in modalProductImages
								li.sett-form-modal__swiper-slide.swiper-slide
									img(src=slide, alt="")
					div.sett-form-modal__buttons
						button.sett-form-modal__button.sett-form-modal__button--prev(type="button")
							span.visually-hidden Предыдущий слайд
							svg(width="7", height="10", aria-hidden="true")
								use(xlink:href="images/sprite.svg#product-arrow-prev")
						button.sett-form-modal__button.sett-form-modal__button--next(type="button")
							span.visually-hidden Следующий слайд
							svg(width="7", height="10", aria-hidden="true")
								use(xlink:href="images/sprite.svg#product-arrow-next")
					div.sett-form-modal__swiper2.swiper
						ul.sett-form-modal__swiper-wrapper2.swiper-wrapper
							each slide in modalProductImages
								li.sett-form-modal__swiper-slide2.swiper-slide
									img(src=slide, alt="")
				form.sett-form-modal__form.form
					p.sett-form-modal__form-title Оставьте заявку
					p.sett-form-modal__form-text Оставьте заявку и мы свяжемся с вами в ближайшее время!
					div.sett-form-modal__wrap
						div.sett-form-modal__wrapper.form__wrapper
							input.sett-form-modal__input.form__input._req._name(type="text", id="sett-modal-name", name="name", placeholder="Введите ваше имя")
							label.visually-hidden(for="sett-modal-name") Введите ваше имя
							span.sett-form-modal__error.form__error
						div.sett-form-modal__wrapper.sett-form-modal__wrapper--left.form__wrapper
							input.sett-form-modal__input.form__input._req._tel(type="tel", id="sett-modal-tel", name="phone", placeholder="Телефон")
							label.visually-hidden(for="sett-modal-tel") Ваш номер телефона
							span.sett-form-modal__error.form__error
						div.sett-form-modal__wrapper.sett-form-modal__wrapper--right.form__wrapper
							input.sett-form-modal__input.form__input._req._email(type="email", id="sett-modal-email", name="email", placeholder="Email")
							label.visually-hidden(for="sett-modal-email") Ваш email
							span.sett-form-modal__error.form__error
						div.sett-form-modal__wrapper.form__wrapper
							textarea.sett-form-modal__input.sett-form-modal__input--textarea.form__input(id="sett-modal-comment", name="comment", placeholder="Комментарий")
							label.visually-hidden(for="sett-modal-comment") Оставьте комментарий
						button.sett-form-modal__submit(type="submit") Оставить заявку —
						div.sett-form-modal__consent
							input.sett-form-modal__checkbox.visually-hidden(type="checkbox", id="sett-modal-check", name="consent", checked, required)
							label.sett-form-modal__label.form__label(for="sett-modal-check") Соглашаюсь с обработкой персональных данных в соответствии с&nbsp;
								a(href=policy) политикой конфиденциальности
