-
	const subSectionLinks = [
		{text: 'Вся мебель'},
		{text: 'Кровати'},
		{text: 'Тумбы'},
		{text: 'Гардеробные'},
		{text: 'Пуфы'},
		{text: 'Зеркала'},
		{text: 'Освещение'},
		{text: 'Интерьер'},
	];

	const subSectionItems = [
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New', 'Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['New'], costRu: '424 000 ₽', costEu: '4240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, costRu: '224 000 ₽', costEu: '2240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
		{title: 'Спальня Charisma', href: index, tags: ['Sale'], costRu: '324 000 ₽', costEu: '3240 €', factory: 'De Majo', collection: 'Charisma', status: 'В наличии', material: 'МДФ, кожа', style: 'Арт-Деко', file: index, image: {src: 'images/card-set.jpg', alt: 'Набор'}},
	];

	const subSectionChoiceItems = [
		'Francesco Pasi',
		'Gallo',
		'Gamma arredamenti',
		'Gicinque Cucine',
		'Giorgio Collection',
		'Francesco Pasi',
		'Gallo',
		'Gamma arredamenti',
		'Gicinque Cucine',
	];

	const subSectionMaterialItems = [
		'Дуб',
		'Медь',
	];

	const subSectionColorItems = [
		'Серый',
		'Бежевый',
	];

	const subSectionStatusItems = [
		'Под заказ',
		'В наличии на экспозиции',
		'В наличии на складе',
	];

	const subSectionStyleItems = [
		'Борокко',
		'Рококо',
		'Ампир',
	];

	const subSectionRadioItems = [
		'160 × 200',
		'180 × 220',
		'200 × 240',
	];

section.section
	div.section__top-wrapper.container
		div.section__top-content
			h1.section__top-title Кровати
			button.section__top-button(type="button", aria-expanded="false")
				svg(width="18", height="15", aria-hidden="true")
					use(xlink:href="images/sprite.svg#filters-open")
				span Показать фильтры
		ul.section__top-list
			each link, index in subSectionLinks
				li.section__top-item
					a.section__top-link(class=index === 0 ? 'section__top-link--active' : '', href=subsection)!= link.text
			li.section__top-item
				button.favorites__top-button.cost(type="button")
					span.cost__value.cost__value--current ₽
					span.cost__value €
	div.section__top-filters
		div.section__top-filter-container.container
			div.section__top-filter
				form.section__top-form.range.range--cost
					p.range__title Цена
					div.range__slider
					div.range__values
						span.range__val ₽
						p.range__value.range__value--min
							input.range__input(type="text", id="range10", min="0", value="98000")
							label.visually-hidden(for="range10") Минимальная цена
						p.range__value.range__value--max
							input.range__input(type="text", id="range11", max="1000000", value="743000")
							label.visually-hidden(for="range11") Максимальная цена
				+choicePopup
			div.section__top-filter
				form.section__top-form.range.range--default
					p.range__title Ширина, см
					div.range__slider
					div.range__values
						p.range__value.range__value--min
							input.range__input(type="text", id="range10", min="0", value="120")
							label.visually-hidden(for="range10") Минимальный размер
						p.range__value.range__value--max
							input.range__input(type="text", id="range11", max="260", value="400")
							label.visually-hidden(for="range11") Максимальный размер
				+choicePopup
			div.section__top-filter
				form.section__top-form.range.range--default
					p.range__title Высота, см
					div.range__slider
					div.range__values
						p.range__value.range__value--min
							input.range__input(type="text", id="range30", min="0", value="40")
							label.visually-hidden(for="range30") Минимальный размер
						p.range__value.range__value--max
							input.range__input(type="text", id="range31", max="180", value="98")
							label.visually-hidden(for="range31") Максимальный размер
				+choicePopup
			div.section__top-filter
				form.section__top-form.range.range--default
					p.range__title Глубина, см
					div.range__slider
					div.range__values
						p.range__value.range__value--min
							input.range__input(type="text", id="range40", min="0", value="50")
							label.visually-hidden(for="range40") Минимальный размер
						p.range__value.range__value--max
							input.range__input(type="text", id="range41", max="200", value="120")
							label.visually-hidden(for="range41") Максимальный размер
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Фабрика
				+choiceCheck('Все фабрики', 'factory', subSectionChoiceItems)
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Модель
				+choiceCheck('Все модели', 'model', subSectionChoiceItems)
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Цвет
				+choiceCheck('Все цвета', 'color', subSectionColorItems)
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Материал
				+choiceCheck('Все материалы', 'material', subSectionMaterialItems)
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Стиль
				+choiceCheck('Все стили', 'status', subSectionStyleItems)
				+choicePopup
			div.section__top-filter
				p.section__top-filter-title Наличие
				+choiceCheck('Все товары', 'style', subSectionStatusItems)
				+choicePopup
	ul.section__top-result.container
			li.section__top-result-item
				span Цена: от 50000₽ до 70000₽
				button(type="button")
					span.visually-hidden Удалить фильтр
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
			li.section__top-result-item
				span Фабрика: Modum, Camelgroup
				button(type="button")
					span.visually-hidden Удалить фильтр
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
			li.section__top-result-item
				span Фабрика: Modum, Camelgroup
				button(type="button")
					span.visually-hidden Удалить фильтр
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
			li.section__top-result-item
				span Модель: Platinum, Alchemy, Infinity
				button(type="button")
					span.visually-hidden Удалить фильтр
					svg(width="10", height="10", aria-hidden="true")
						use(xlink:href="images/sprite.svg#close")
	div.section__list-wrapper
		div.section__container.container
			ul.section__list
				each item in subSectionItems
					// Товар: набор
					li.section__item.card.card--simple
						div.card__tags-wrapper
							div.card__tags
								if item.tags
									each tag in item.tags
										span!= tag
						// Стоковое состояние
						div.card__stock.stock-card
							p.stock-card__article Артикул: 23498549
							h2.stock-card__title: a(href="/")!= item.title
							span.stock-card__cost.stock-card__cost от #{item.costRu}
							div.stock-card__image
								img(src=item.image.src, alt=item.image.alt)
								button.stock-card__favorite(type="button")
									span.visually-hidden Добавить в избранное
									svg(width="16", height="14", aria-hidden="true")
										use(xlink:href="images/sprite.svg#favorite")
						// Активное состояние
						div.card__active.active-card
							a.active-card__link(href=item.href)
								span.visually-hidden Перейти на страницу с товаром
							div.card__all-wrapper
								div.card__tags
									if item.tags
										each tag in item.tags
											span!= tag
								button.card__favorite(type="button")
									span.visually-hidden Добавить в избранное
									svg(width="16", height="14", aria-hidden="true")
										use(xlink:href="images/sprite.svg#favorite")
							div.active-card__swiper-wrapper
								div.active-card__swiper.swiper
									ul.active-card__swiper-list.swiper-wrapper
										li.active-card__swiper-item.swiper-slide
											img(src=item.image.src, alt=item.image.alt)
										li.active-card__swiper-item.swiper-slide
											img(src=item.image.src, alt=item.image.alt)
								div.active-card__swiper-dots
							div.active-card__content-wrapper
								p.active-card__article Артикул: 23498549
								p.active-card__title!= item.title
								p.active-card__element
									span Фабрика:
									a(href=index)!= item.factory
								p.active-card__element
									span Модель:
									a(href=index)!= item.collection
								p.active-card__size Ширина: 173 см, Высота: 110 см, Глубина: 212 см
								div.active-card__wrapper
									p.active-card__cost Цена от #{item.costRu}
									p.active-card__status В наличии
								div.active-card__choice-wrapper
									+choiceRadio('160 × 200', 'size', subSectionRadioItems).choice-radio--light.active-card__choice
									button.active-card__button(type="button") Добавить в корзину —
								a.active-card__preview-open Быстрый просмотр
			+pagination.section__pagination
